// PAGE SETTINGS

*
  box-sizing: border-box
  padding: 0
  margin: 0

.clearfix,
section::after,
header::after,
footer::before
  content: ''
  display: block
  clear: both

body
  font-family: $roboto
  background-color: #eff2f7

a
  text-decoration: none
  color: initial

a:hover
  text-decoration: none


// NAVBAR

//.site-header
//  background-color: #1d2124
//  height: 56px
//  width: 100%
//
//.home-link:hover .premier_league_logo
//  background-color: #38003c
//  transition: background-color 350ms ease-in-out
//
//.premier_league_logo
//  height: 100%
//  padding-right: 155px
//  transition: background-color 350ms ease-in-out
//
//.site-title
//  color: #FFFFFF
//  position: absolute
//  left: 85px
//  top: 15px
//
//
//// MENU TOGGLE
//
//.menu-toggle
//  position: absolute
//  height: 56px
//  width: 56px
//  display: block
//  top: 0
//  right: 0
//  cursor: pointer
//
//.line
//  position: absolute
//  height: 1px
//  width: 17px
//  background: #FFFFFF
//  transition: all 350ms ease-in-out
//  left: 50%
//  transform: translateX(-50%)
//
//.line01
//  top: 40%
//
//.line02
//  top: 50%
//
//.line03
//  top: 60%
//
//.menu-toggle:hover .line
//  top: 50%
//  transition: all 350ms ease-in-out
//
//.menu-toggle:hover .line02
//  opacity: 0
//
//.menu-toggle.active .line01
//  transform: rotate(135deg)
//  transform-origin: center
//  top: 50%
//  left: 33%
//
//.menu-toggle.active .line02
//  opacity: 0
//
//.menu-toggle.active .line03
//  transform: rotate(45deg)
//  transform-origin: center
//  top: 50%
//  left: 33%
//
//// MENU
//
//nav
//  //border: 1px solid black
//  position: absolute
//  right: 0
//  text-align: right
//
//
//nav ul
//  //border: 1px solid blue
//  //background-color: #6c757d //#1d2124
//  margin-bottom: 0
//
//
//nav li
//  //border: 1px solid red
//  list-style: none
//  width: 100vw
//  height: 45px
//  display: flex
//  justify-content: flex-end
//
//nav a
//  display: block
//  //height: 100%
//  width: 100%
//  padding-right: 1em
//  align-self: center
//  text-align: right
//  color: #FFFFFF
//
//.teams-list
//  display: none
//  //border: 1px solid green
//  left: 0
//
//
//
//// MEDIA QUERIES
//
//@media (min-width: 600px)
//  // MENU STYLE FOR LARGER SCREENS
//
//  .menu-toggle
//    display: none
//
//  nav
//    top: 0
//    padding-top: 4px
//    padding-right: 4px
//
//  nav ul
//    //background-color: initial
//    display: flex
//
//  nav li
//    width: 75px
//    justify-content: center
//
//  nav a
//    padding-top: 10px
//    width: 100%
//    height: 100%
//
//  .teams-list
//    display: flex
//    padding: 10px 0
//    position: absolute
//    width: 100vw
//    height: 60px
//    //background-color: #c69500
//    //top: 56px
//    top: 0
//    opacity: 0
//    justify-content: center
//    align-content: center
//    z-index: -1
//
//    ul
//      width: 100%
//      height: 100%
//      display: flex
//      margin: auto
//      justify-content: center
//      //border: 1px solid red
//
//    li
//      width: 15%
//      text-align: center
//      height: 100%
//      border: 1px solid blue
//      display: inline-block
//      margin: 0 .5em
//
//    a
//      padding-top: 6px
//      display: block
//      position: relative
//      width: 100%
//      height: 100%
//
//  .teams-list-active
//    top: 56px !important
//    opacity: 1 !important
//    z-index: 99


  //.main-nav:hover .teams-list
    //opacity: 1
    //top: 56px
    //z-index: 1
