// PAGE SETTINGS

*
  box-sizing: border-box
  padding: 0
  margin: 0

.clearfix,
section::after,
header::after,
footer::before
  content: ''
  display: block
  clear: both

body
  font-family: $roboto
  background-color: #eff2f7

a
  text-decoration: none
  color: initial

a:hover
  text-decoration: none

.page-content
  padding-top: 2em


//@media (min-width: 768px)
//  .desktop-hidden
//    display: none !important
//
//
//@media (max-width: 767px)
//  .mobile-hidden
//    display: none !important
