.hero
  min-height: 35vh
  text-align: center
  color: #FFFFFF
  border-bottom: 5px solid $purple

.team-page-hero
  text-transform: uppercase
  letter-spacing: 3px
  .hero-title-container
    h1
      span
        display: block
        font-weight: 100
        letter-spacing: .5em

.hero-title-container
  padding: 2em 1em

.shadow-box
  border: 0.5px solid rgba(0,0,0,0.05)
  transition: all 350ms ease-in-out
  &.shadow-box:hover
    box-shadow: 0 30px 80px rgba(0,0,0,0.14), 0 20px 70px rgba(0,0,0,0.12)
    background-color: #f2f2f2
    transition: all 350ms ease-in-out

.padding-top-5
  padding-top: 5%

.logo-style
  font-weight: 700
  span
    font-weight: 100

// CHART STYLES
//.custom-chart
//  width: 100%

.chart-title
  text-transform: uppercase
  display: inline-block
  border-left: 15px solid purple
  padding: .5em 1em
  background: #a9a9a9
  color: #e2e2e2
  box-shadow: 0 5px 30px -5px rgba(0,0,0,0.25)
  //& ::after
  //  margin-top: 5%
  //  content: ''
  //  display: block
  //  height: 2.5px
  //  width: 100%
  //  background-color: $purple

.main-selectors
  background-color: ghostwhite

.selector
  padding: 3em .5em
  height: 401px
  //height: 350px

.chart-container
  padding: 3em 1em

.year-selector
  max-width: 500px
  //height: 400.975px
  margin: auto

.form-guide-chart
  path.area
    transition: all 350ms ease-in-out
    &:hover
      fill-opacity: 1
      transition: all 350ms ease-in-out

.form-chart
  max-width: 960px
  margin: auto
  //padding: 2em .5em .chart-container has padding applied

.goals-analysis, .goals-analysis-2
  background-color: ghostwhite

//.goals-analysis
//  padding: 5% 0

.chart-container-goals-analysis
  max-width: 600px
  height: 401px
  margin: auto

.dc-chart
  float: none !important

#tooltip
  position: absolute
  padding: 5px 10px
  background: #007bff


// MEDIA QUERIES
@media (max-width: 768px)
  .padding-top-5-sm
    padding-top: 5%


@media (min-width: 768px)
  .team-page-hero
    text-align: left
    h1
      font-size: 4rem
      letter-spacing: .5em
      span
        letter-spacing: 1.5em
  .dropdown-toggle::after
    display: none

//@media (min-width: 768px)
//  .form-chart
//    padding: 2em //see .chart-container


// CHART PROPERTIES - NEED TO MOVE TO SEPARATE CHART.SASS FILE
#pointsChart, #positionChart
  .line
    stroke-width: 0.5px

.dc-chart
  .x-axis-label, .y-axis-label
    font-size: .8em
    font-style: italic

//.dc-chart rect.bar
//  width: 19px

//@media (max-width: 520px)
//  .dc-chart rect.bar
//    width: 8px

@media (max-width: 768px)
  .dc-chart
    .axis.x
      .tick text
        transform: translate(17px,13px) rotateZ(60deg)
