.hero
  min-height: 35vh

.index-hero
  text-align: center
  display: flex

.hero-title-container
  align-self: center
  justify-self: center
  width: 100%

//.main-header
//  text-align: center
//  padding-bottom: 4em
//  //display: flex

.badge-container
  margin-left: 100px
  margin-right: 25px

.page-title
  align-self: center
  text-transform: uppercase
  letter-spacing: 1.5px
  display: inline-block

  &::after
    content: ''
    display: block
    height: 5px
    margin: 4% 0 0
    width: 100%

.chart-title
  text-transform: uppercase

.main-selectors
  background-color: ghostwhite

.team-selector
  //border: 1px solid blue
  padding: 3%
  width: 50%
  float: left
  height: 350px //make equal with year selector
  text-align: center

#teamSelector
  width: 100%

.year-selector
  //border: 1px solid red
  padding: 3%
  width: 50%
  float: right
  height: 350px //make equal with team selector
  text-align: center

#yearSelector
  width: 100%

  & svg
    margin-top: 5%

.points-chart
  //border: 1px solid blue
  padding: 3%
  text-align: center
  //width: 100%
  & #pointsChart
    width: 100%

.position-chart
  //border: 1px solid red
  padding: 3%
  text-align: center
  & #positionChart
    width: 100%

