.index-hero
  background: linear-gradient(rgba(52,58,64,1),rgba(52,58,64,0.6))

#yearSelector
  & svg
    margin-top: 5%

button.intro_button
  padding: 1em 3em
  border: 1px solid rgba(255,255,255,0.4)
  color: rgba(255,255,255,0.8)
  background-color: transparent
  cursor: pointer
  transition: all 350ms ease-in-out
  text-transform: uppercase
  margin: 1em auto
  &:hover
    border: 1px solid rgba(255,255,255,0.8)
    background-color: rgba(52,58,64,0.6)

.hero-title-container
  h1
    text-transform: uppercase
