//.man-united-header
//  background-color: white
//
//.man-united-title
//  &::after
//    background-color: $man-united-accent

//.team-badge
//  width: 150px
//  height: auto

.manchester-united-hero
  border-bottom: 5px solid $man-united-accent
  &::after
    background: linear-gradient(rgba(52,58,64,1),rgba(52,58,64,0.6)), url("/static/assets/badges/manchester-united-logo-vector.png")
    background-repeat: no-repeat
    background-position: center top
    background-size: contain

//.manchester-united-hero
//  //color: #FFFFFF
//  text-transform: uppercase
//  letter-spacing: 3px
//  &::after
//    content: ''
//    background: linear-gradient(rgba(52,58,64,1),rgba(52,58,64,0.6)), url("/static/assets/badges/manchester-united-logo-vector.png")
//    //opacity: 0.90
//    background-repeat: no-repeat
//    background-position: center top
//    background-size: contain
//    position: absolute
//    top: -4%
//    bottom: 35vh
//    left: 0
//    right: 0
//    z-index: -1
//    min-height: 35vh
//

@media (min-width: 768px)
  .manchester-united-hero
    &::after
      background-position: center right
      top: 4%




