.navbar
  padding: 0

.navbar-brand
  padding-top: 0
  padding-bottom: 0
  padding-right: 1em
  transition: color 350ms ease-in-out
  letter-spacing: 1.5px
  text-transform: uppercase

.navbar-brand:hover
  color: #6ce2d7 !important
  transition: color 350ms ease-in-out

.navbar-brand img
  height: 56px

// NAVBAR TOGGLE BUTTON

.menu-toggle
  position: absolute
  height: 56px
  width: 56px
  display: flex
  justify-content: center
  align-items: center
  transition: all 350ms ease-in-out
  border: none // remove default bootstrap border
  top: 0
  right: 0
  &:focus
    outline: 0

.line
  position: absolute
  height: 1px
  width: 17px
  background: #FFFFFF
  transition: all 350ms ease-in-out

.line01
  top: 40%

.line02
  top: 50%

.line03
  top: 60%

.menu-toggle:hover
  background-color: $purple
  transition: all 350ms ease-in-out

.menu-toggle:hover .line
  top: 50%
  transition: all 350ms ease-in-out

.menu-toggle:hover .line02
  opacity: 0

.menu-toggle.active
  background-color: $purple

.menu-toggle.active .line01
  transform: rotate(135deg)
  transform-origin: center
  top: 50%

.menu-toggle.active .line02
  opacity: 0

.menu-toggle.active .line03
  transform: rotate(45deg)
  transform-origin: center
  top: 50%

#navbarMenu
  text-transform: uppercase
  letter-spacing: 2.5px

#navbarMenu li
  transition: all 350ms ease-in-out

#navbarMenu .top-layer-nav-item:hover
  //background-color: $purple
  transition: all 350ms ease-in-out

#navbarMenu a
  padding: 1em
  transition: all 350ms ease-in-out

#navbarMenu a:hover
  transition: all 350ms ease-in-out


// DROPDOWN TEAM LIST

.teams-list-container
  border: 1px solid black

.teams-list
  list-style: none

.manunited-link:hover
  background: url("/static/assets/badges/manchester-united-logo-vector.png")

.mancity-link:hover
  background: url("/static/assets/badges/manchester-city-logo.png")

.chelsea-link:hover
  background: url("/static/assets/badges/chelsea-logo-vector.png")

.arsenal-link:hover
  background: url("/static/assets/badges/arsenal-logo-vector.png")

.spurs-link:hover
  background: url("/static/assets/badges/Tottenham_Hotspur_FC.png")

.liverpool-link:hover
  background: url("/static/assets/badges/liverpool-logo-vector.png")

.dropdown-item:hover
  //  background: url("/static/assets/badges/manchester-united-logo-vector.png")
  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.8)
  background-position: center
  background-size: cover

// MEDIA QUERIES

@media (max-width: 400px)
  .navbar-brand
    letter-spacing: 0
    font-size: 1rem

  .hero-title-container
    h1
      font-size: 1.5em

@media (min-width: 768px)
  #navbarMenu
    padding: 0 1em

  .navbar-team-list
    background-color: $purple

  .desktop-teams-list-container
    width: 100%
    height: 50px
    background-color: $purple
    border-bottom: 1px solid #343a40

  .desktop-teams-list
    list-style: none
    height: 100%

  .desktop-teams-list-item
    display: inline-block
    text-transform: uppercase
    letter-spacing: 1.5px
    height: 100%

  .desktop-team-links
    color: #FFFFFF !important
    display: block
    height: 100%
    padding: 0 1em
    transition: all 350ms ease-in-out

  .manunited-link:hover
    background: url("/static/assets/badges/manchester-united-logo-vector.png")

  .mancity-link:hover
    background: url("/static/assets/badges/manchester-city-logo.png")

  .chelsea-link:hover
    background: url("/static/assets/badges/chelsea-logo-vector.png")

  .arsenal-link:hover
    background: url("/static/assets/badges/arsenal-logo-vector.png")

  .spurs-link:hover
    background: url("/static/assets/badges/Tottenham_Hotspur_FC.png")

  .liverpool-link:hover
    background: url("/static/assets/badges/liverpool-logo-vector.png")

  .desktop-team-links:hover
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.8)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    transition: all 350ms ease-in-out
