{% extends 'base.html' %}
{% block content %}
    <!-- ABOUT HERO -->
    <section class="hero about-hero d-flex align-items-center justify-content-center">
        <div class="row no-gutters">
            <div class="col">
                <div class="hero-title-container">
                    <h1>About</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- INTRO SECTION -->
    <section class="about-intro">
        <div class="row no-gutters justify-content-center">
            <!-- INTRO COL 1 -->
            <div class="col-sm-12 col-md-6 custom-padding">
                <div class="about-header text-center"><h4>Introduction</h4></div>
                <div class="about-block-container">
                    <div class="about-content text-justify">
                        <p>
                            Have you ever heard the phrase, “Premier League’s Top Six” or the “Big Six”?
                            If you’ve been following the Premier League action particularly over the last
                            six seasons then you probably have.
                        </p>
                        <p>
                            <span class="logo-style">TOP<span>SIX</span>DASHBOARD</span> enables you
                            to dive into the stats of your favourite Premier League teams and compare
                            them with other title contenders over the years. You can now visualise the
                            journey of your favourite teams in this data rich dashboard and analyse
                            the end of season results and compare with rivals.
                        </p>
                        <p>
                            There never use to be a “Big Six” in the Premier League before, the
                            <span class="logo-style">TOP<span>SIX</span>DASHBOARD</span> can help you
                            visualise the emergence of teams such as Manchester City and Tottenham Hotspur
                            over recent years to solidify their stake as one of the Premier League’s elite.
                        </p>
                    </div>
                </div>
            </div>
            <!-- INTRO COL 2 -->
            <div class="col-sm-12 col-md-6">
                <!-- USE CSS BG PROPERTY TO IMPORT IMAGE AND COVER DIV -->
                <div class="placeholder-image-container intro-image"></div>
            </div>
        </div>
    </section>
    <!-- TECH SECTION -->
    <section class="about-tech">
        <div class="row no-gutters">
            <div class="col-sm-12 col-md-6 custom-tech-header-padding">
                <div class="about-header text-center"><h4>Technology</h4></div>
            </div>
        </div>
        <div class="row no-gutters justify-content-center">
            <div class="col-sm-12 col-md-6 custom-tech-padding">
                <div class="about-block-container">
                    <div class="about-content text-justify">
                        <p>
                            As with every website or web based app, the use of Hypertext Markup Language is paramount.
                            HTML5 has been used as the markup for this project as this would enable use of many of the
                            new semantics to keep the structure of this project clear and in keeping with the latest
                            industry standards.
                        </p>
                        <p>
                            As with markup, Cascading Style Sheets are essential when controlling the layout of the
                            website. Custom CSS was used in this project in conjunction with Bootstrap 4 to style
                            <span class="logo-style">TOP<span>SIX</span>DASHBOARD</span> enhancing user interaction
                            and delivering exceptional user experience.
                        </p>
                        <p>
                            The Bootstrap framework was used for this project to utilise various components such as
                            Bootstrap's Navbar, Grid, Variables and many other utilities.
                        </p>
                        <p>
                            I used SASS as my chosen CSS preprocessor. This is a great way to import custom styles and
                            override the original Bootstrap library. I also have the added benefit of using variables
                            and mixins along with other cool tricks.
                        </p>
                        <p>
                            Node Package Manager was used to install Bootstrap 4 on this project. This approach is
                            ideal as it allows greater flexibility when overriding Bootstrap's original Sass files.
                        </p>
                        <p>
                            Custom JavaScript was used on this project as well as other JavaScript libraries such as
                            jQuery, dc.js, d3.js and crossfilter.js. Custom JavaScript was used primarily for the
                            mobile toggle menu button and responsive design choices.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 custom-tech-padding">
                <div class="about-block-container">
                    <div class="about-content text-justify">
                        <p>
                            Dc.js is a JavaScript library used to make interactive dashboards in JavaScript. By
                            clicking and selecting different events in graphs, you can filter the entire dashboard to
                            drill into a particular event.
                        </p>
                        <p>
                            D3.js is a JavaScript library which can be used to create rich data visualizations. D3
                            takes data which you provide, usually through an external file, and helps bring that data
                            to life using HTML, CSS, and SVG.
                        </p>
                        <p>
                            Crossfilter.js is a JavaScript plugin used to slice and dice JavaScript arrays. This allows
                            Dc.js to easily manipulate the data table that the graphs use, so they can refresh with the
                            filtered data.
                        </p>
                        <p>
                            Python is the Back-end programming language used, primarily for functionalities of Flask.
                        </p>
                        <p>
                            Flask, a Python microframework is used for this project to route the app to various pages
                            and retrieve data stored on MongoDB, returning it back to the browser.
                        </p>
                        <p>
                            The Premier League data used for this project is being stored on MongoDB.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- HOVER TECH LOGOS / USE CSS BG PROPERTY TO CONTAIN IMAGE -->
        <div class="row no-gutters inline-tech-logos d-flex justify-content-center">
            <div class="col-6 col-sm-6 col-md-3 col-lg-1 d-flex justify-content-center tech-logo-container"><div class="tech-logo html-logo"></div></div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-1 d-flex justify-content-center tech-logo-container"><div class="tech-logo css-logo"></div></div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-1 d-flex justify-content-center tech-logo-container"><div class="tech-logo sass-logo"></div></div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-1 d-flex justify-content-center tech-logo-container"><div class="tech-logo bootstrap-logo"></div></div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-1 d-flex justify-content-center tech-logo-container"><div class="tech-logo javascript-logo"></div></div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-1 d-flex justify-content-center tech-logo-container"><div class="tech-logo d3-logo"></div></div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-1 d-flex justify-content-center tech-logo-container"><div class="tech-logo dc-logo"></div></div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-1 d-flex justify-content-center tech-logo-container"><div class="tech-logo python-logo"></div></div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-1 d-flex justify-content-center tech-logo-container"><div class="tech-logo flask-logo"></div></div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-1 d-flex justify-content-center tech-logo-container"><div class="tech-logo mongodb-logo"></div></div>
        </div>
    </section>
    <!-- AUTHOR SECTION -->
    <section class="about-author">
        <div class="row no-gutters justify-content-center">
            <div class="col-sm-12 col-md-6">
                <div class="placeholder-image-container author-image"></div>
            </div>
            <div class="col-sm-12 col-md-6 custom-padding">
                <div class="about-header text-center"><h4>AUTHOR</h4></div>
                <div class="about-block-container">
                    <div class="about-content text-justify">
                        <p>
                            I am a north London based Computer Science / Information Technology graduate.
                            After graduating from the University of Hertfordshire, I was fortunate for having
                            the experience of developing two main company websites for an exciting IT solutions
                            company, Joskos Solutions, as a Marketing Executive Assistant. Not only strengthening
                            my skillset in web development, this role also developed my knowledge within digital
                            marketing and graphic design outside my comfort zone. Alongside this I also worked as
                            a Technician for Dixons Carphone for over three years, where my passion for the
                            ever-growing technology soared. I also embarked on a short project for 360GSP, an IT
                            training and recruitment company, as a Designer / Developer which solidified my skills
                            using the latest industry standards.
                        </p>
                        <p>
                            Due to the nature of the web development industry which is continuously growing at an
                            exponential rate, I wanted to ensure I have the relevant skills and knowledge to tackle
                            real world scenarios within the industry. This is where Code Institute comes in. I am
                            currently studying for a Diploma in Software Development through Code Institute in a
                            course which is aligned and accredited by the Edinburgh Napier University. Upon completion,
                            I will fulfil my goals of becoming a Full Stack Web Developer which will enable me to
                            integrate both Front End and Back End systems seamlessly.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
