{% extends 'base.html' %}
{% block content %}
    <section class="hero about-hero d-flex align-items-center justify-content-center">
        <div class="row no-gutters">
            <div class="col">
                <div class="hero-title-container">
                    <h1>About</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <section class="about-intro">
            <div class="row no-gutters">
                <div class="col-sm-12 col-md-6">
                    <div class="">
                        <div class="about-block-container">
                            <div class="about-header text-center"><h4>Introduction</h4></div>
                            <div class="about-content">
                                <p>
                                    Have you ever heard the phrase, “Premier League’s Top Six” or the “Big Six”?
                                    If you’ve been following the Premier League action particularly over the last
                                    5 years then you probably have heard the term.
                                </p>
                                <p>
                                    <span class="logo-style">TOP<span>SIX</span>DASHBOARD</span> enables you
                                    to dive into the stats of your favourite Premier League teams and compare
                                    them with other title contenders over the years. You can now visualise the
                                    journey of your favourite teams in this data rich dashboard and analyse
                                    the end of season results and compare with rivals.
                                </p>
                                <p>
                                    There never use to be a “Big Six” in the Premier League before, the
                                    <span class="logo-style">TOP<span>SIX</span>DASHBOARD</span> can help you
                                    visualise the emergence of teams such as Manchester City and Tottenham Hotspur
                                    over recent years to solidify their stake as one of the Premier League’s elite.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="shadow-box" style="height: 100%"></div>
                </div>
            </div>
        </section>
        <section class="about-tech">
            <div class="row no-gutters">
                <div class="col-sm-12 col-md-6">
                    <div class="shadow-box" style="height: 100%"></div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="">
                        <div class="about-block-container">
                            <div class="about-header text-center"><h4>Technology</h4></div>
                            <div class="about-content">
                                <p>
                                    Have you ever heard the phrase, “Premier League’s Top Six” or the “Big Six”?
                                    If you’ve been following the Premier League action particularly over the last
                                    5 years then you probably have heard the term. TOP SIX DASHBOARD enables you
                                    to dive into the stats of your favourite Premier League teams and compare
                                    them with other title contenders over the years.
                                </p>
                                <p>
                                    You can now visualise the journey of your favourite teams in this data rich
                                    dashboard and analyse the end of season results and compare with rivals.
                                </p>
                                <p>
                                    There never use to be a “Big Six” in the Premier League before, the TOP SIX
                                    DASHBOARD can help you visualise the emergence of teams such as Manchester
                                    City and Tottenham Hotspur over recent years to solidify their stake as one
                                    of the Premier League’s elite.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-author">
            <div class="row no-gutters">
                <div class="col-sm-12 col-md-6">
                    <div class="">
                        <div class="about-block-container">
                            <div class="about-header text-center"><h4>Author</h4></div>
                            <div class="about-content">
                                <p>
                                    Have you ever heard the phrase, “Premier League’s Top Six” or the “Big Six”?
                                    If you’ve been following the Premier League action particularly over the last
                                    5 years then you probably have heard the term. TOP SIX DASHBOARD enables you
                                    to dive into the stats of your favourite Premier League teams and compare
                                    them with other title contenders over the years.
                                </p>
                                <p>
                                    You can now visualise the journey of your favourite teams in this data rich
                                    dashboard and analyse the end of season results and compare with rivals.
                                </p>
                                <p>
                                    There never use to be a “Big Six” in the Premier League before, the TOP SIX
                                    DASHBOARD can help you visualise the emergence of teams such as Manchester
                                    City and Tottenham Hotspur over recent years to solidify their stake as one
                                    of the Premier League’s elite.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="shadow-box" style="height: 100%"></div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
