<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Premier League Dashboard | Premier League Top Six | Minesh Kothari</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='lib/css/introjs.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/ico" href="../static/assets/favicon.ico">
</head>
<body>
    <header class="site-header">
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <!-- LOGO -->
            <a class="navbar-brand logo-style" href="/">
                <img class="premier_league_logo" src="https://www.premierleague.com/resources/ver/i/elements/premier-league-logo-header.png" alt="Premier League Logo">
                Top<span>Six</span>Dashboard
            </a>
            <!-- MOBILE MENU TOGGLE -->
            <button class="navbar-toggler menu-toggle" data-toggle="collapse" data-target="#navbarMenu">
                <span class="line line01"></span>
                <span class="line line02"></span>
                <span class="line line03"></span>
            </button>
            <div id="navbarMenu" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item top-layer-nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item top-layer-nav-item dropdown navbar-team-list"><a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">Teams</a>
                        <!-- MOBILE NAVIGATION SUB-MENU / HIDDEN ON MD SCREENS -->
                        <div class="teams-list-container dropdown-menu d-md-none d-lg-none d-xl-none" aria-labelledby="navbarDropdownMenuLink">
                            <ul class="teams-list">
                                <li class="teams-list-item"><a class="dropdown-item manunited-link" href="/teams/manchesterunited">Man United</a></li>
                                <li class="teams-list-item"><a class="dropdown-item mancity-link" href="/teams/manchestercity">Man City</a></li>
                                <li class="teams-list-item"><a class="dropdown-item chelsea-link" href="/teams/chelsea">Chelsea</a></li>
                                <li class="teams-list-item"><a class="dropdown-item arsenal-link" href="/teams/arsenal">Arsenal</a></li>
                                <li class="teams-list-item"><a class="dropdown-item spurs-link" href="/teams/tottenhamhotspur">Spurs</a></li>
                                <li class="teams-list-item"><a class="dropdown-item liverpool-link" href="/teams/liverpool">Liverpool</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item top-layer-nav-item"><a href="/about" class="nav-link">About</a></li>
                  </ul>
            </div>
        </nav>
        <!-- DESKTOP NAVIGATION SUB-MENU / HIDDEN ON SM SCREENS -->
        <div class="d-none d-md-block d-lg-block d-xl-block desktop-teams-list-container">
            <ul class="d-flex justify-content-center align-items-center desktop-teams-list" data-step="5" data-intro="You can also check out stats for individual teams by clicking on the menu" style="font-weight: normal" data-position="right">
                <li class="desktop-teams-list-item"><a class="desktop-team-links manunited-link d-flex align-items-center" href="/teams/manchesterunited">Man United</a></li>
                <li class="desktop-teams-list-item"><a class="desktop-team-links mancity-link d-flex align-items-center" href="/teams/manchestercity">Man City</a></li>
                <li class="desktop-teams-list-item"><a class="desktop-team-links chelsea-link d-flex align-items-center" href="/teams/chelsea">Chelsea</a></li>
                <li class="desktop-teams-list-item"><a class="desktop-team-links arsenal-link d-flex align-items-center" href="/teams/arsenal">Arsenal</a></li>
                <li class="desktop-teams-list-item"><a class="desktop-team-links spurs-link d-flex align-items-center" href="/teams/tottenhamhotspur">Spurs</a></li>
                <li class="desktop-teams-list-item"><a class="desktop-team-links liverpool-link d-flex align-items-center" href="/teams/liverpool">Liverpool</a></li>
            </ul>
        </div>
    </header>
    <!-- MAIN PAGE CONTENT -->
    <main class="page-content">
        {% block content %}
        {% endblock %}
    </main>
    <!-- FOOTER START -->
    <footer class="footer clearfix">
        <div class="container">
            <div class="row footer-content">
                <div class="col-sm-12 col-md-6 footer-logo">
                    <span class="footer-logo-style logo-style">TOP<span>SIX</span>DASHBOARD</span>
                </div>
                <!-- INTERNAL PAGE LINKS -->
                <div class="col-sm-6 col-md-3">
                    <span class="footer-title">Menu</span>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/teams/manchesterunited">Man United</a></li>
                        <li><a href="/teams/manchestercity">Man City</a></li>
                        <li><a href="/teams/chelsea">Chelsea</a></li>
                        <li><a href="/teams/arsenal">Arsenal</a></li>
                        <li><a href="/teams/tottenhamhotspur">Spurs</a></li>
                        <li><a href="/teams/liverpool">Liverpool</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
                <!-- EXTERNAL PAGE LINKS -->
                <div class="col-sm-6 col-md-3">
                    <span class="footer-title">External Links</span>
                    <ul>
                        <li><a href="https://www.premierleague.com/" target="_blank">Premier League</a></li>
                        <li><a href="https://www.manutd.com/" target="_blank">Man United</a></li>
                        <li><a href="https://www.mancity.com/" target="_blank">Man City</a></li>
                        <li><a href="https://www.chelseafc.com/" target="_blank">Chelsea</a></li>
                        <li><a href="https://www.arsenal.com/" target="_blank">Arsenal</a></li>
                        <li><a href="https://www.tottenhamhotspur.com/" target="_blank">Spurs</a></li>
                        <li><a href="https://www.liverpoolfc.com/" target="_blank">Liverpool</a></li>
                    </ul>
                </div>
            </div>
            <!-- SUB-FOOTER COPY -->
            <div class="row sub-footer-content">
                <div class="col-12">
                    <p class="small sub-footer-text"><em>As part of my <a href="https://www.codeinstitute.net/" target="_blank">Code Institute</a> Stream 2 project</em></p>
                    <p class="small sub-footer-text">&copy; 2019 <span class="logo-style">TOP<span>SIX</span>DASHBOARD</span>, All rights reserved | Premier League Analysis by <a href="https://mineshkothari.github.io/portfolio/" target="_blank">Minesh Kothari</a>.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
    <script src="{{ url_for ('static', filename='js/common.js')}}"></script>
    {% block page_specific_js %}{% endblock %}
    <script src="{{ url_for ('static', filename='js/script.js')}}"></script>
    <script src="{{url_for ('static', filename='lib/js/intro.js')}}" type="text/javascript"></script>
</body>
</html>