{% extends 'base.html' %}
{% block content %}
    <!-- INDEX HERO -->
    <section class="hero index-hero d-flex align-items-center justify-content-center">
        <div class="row no-gutters">
            <div class="col">
                <div class="hero-title-container">
                    <h1 class="logo-style">Top<span>Six</span>Dashboard</h1>
                    <p><em>Where Premier League's big six sides go head to head</em></p>
                </div>
            </div>
        </div>
    </section>
    <section class="secondary-info">
        <div class="row no-gutters">
            <!-- INTROJS START TOUR SECTION -->
            <div class="col-lg-3 col-md-5 col-sm-6 custom-helper">
                <div class="icon-container d-flex align-items-center justify-content-center">
                    <i class="fas fa-info"></i>
                </div>
                <div class='helper-text'>
                    <p class="d-block text-center">Need some help?<br />
                        Click <strong>START TOUR!</strong> now for a quick tutorial.</p>
                    <p class="d-block text-center">
                        <button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();"><strong>Start Tour!</strong></button>
                    </p>
                </div>
            </div>
            <div class="col-lg-9 col-md-7 col-sm-6 d-flex justify-content-center align-items-center brief-intro-container">
                <div class="brief-intro">
                    <p>Check out the end-of-season statistics of what is arguably the world's heavily contested football league
                        and dive into the numbers behind the most illustrious teams in english football.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- MAIN SELECTORS / TEAM AND YEAR RANGE SELECTOR -->
    <section class="main-selectors">
        <div class="row no-gutters">
            <div class="col-sm-12 col-md-4">
                <div class="shadow-box">
                    <!-- TEAM SELECTOR -->
                    <div class="selector team-selector text-center" data-step="1" data-intro="Select the teams you want to compare" style="font-weight: normal" data-position="right">
                        <div class="chart-title"><h4>Team Selector</h4></div>
                        <div id="teamSelector" class="custom-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="shadow-box">
                    <!-- YEAR SELECTOR -->
                    <div class="selector year-selector text-center" data-step="2" data-intro="Select the range of years you want to compare" style="font-weight: normal" data-position="left">
                        <div class="chart-title"><h4>Year Selector</h4></div>
                        <div id="yearSelector" class="custom-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="main-charts">
        <div class="row no-gutters">
            <div class="col-xl-6 col-lg-12">
                <div class="shadow-box">
                    <!-- POINTS CHART -->
                    <div class="points-chart chart-container text-center" data-step="3" data-intro="See the results of your selection here..." style="font-weight: normal" data-position="right">
                        <div class="chart-title"><h4>Points Chart</h4></div>
                        <div id="pointsChart" class="custom-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="shadow-box">
                    <!-- POSITION CHART -->
                    <div class="position-chart chart-container text-center" data-step="4" data-intro="...and here" style="font-weight: normal" data-position="left">
                        <div class="chart-title"><h4>Position Chart</h4></div>
                        <div id="positionChart" class="custom-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<!-- PAGE SPECIFIC GRAPH -->
{% block page_specific_js %}
    <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
{% endblock %}
