{% extends 'base.html' %}
{% block content %}
    <section class="hero team-page-hero liverpool-hero d-flex align-items-center justify-content-center">
        <div class="row no-gutters">
            <div class="col">
                <div class="hero-title-container">
                    <h1>Liverpool</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="main-selectors">
        <div class="row no-gutters">
            <div class="col-sm-12 col-md-4">
                <div class="selector text-center shadow-box">
                    <div class="chart-title"><h4>Position Selector</h4></div>
                    <div id="positionSelectorLiverpool" class="custom-chart"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="selector text-center shadow-box">
                    <div class="chart-title"><h4>Year Selector</h4></div>
                    <div id="yearSelectorLiverpool" class="custom-chart"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="form-guide">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="form-chart text-center">
                    <div class="chart-title"><h4>Form Guide</h4></div>
                    <div id="" class="custom-chart"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="goals-analysis">
        <div class="row no-gutters">
            <div class="col-sm-12 col-md-6">
                <div class="goals-chart text-center">
                    <div class="chart-title"><h4>Goals scored per season</h4></div>
                    <div id="goalsChartLiverpool" class="custom-chart"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="goals-conc-chart text-center">
                    <div class="chart-title"><h4>Goals conceded per season</h4></div>
                    <div id="goalsConcChartLiverpool" class="custom-chart"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="goals-analysis-2">
        <div class="goals-diff-chart text-center">
            <div class="chart-title"><h4>Goal Difference</h4></div>
            <div id="goalDifferenceChartLiverpool" class="custom-chart"></div>
        </div>
    </section>
{% endblock %}
{% block page_specific_js %}
    <script src="{{ url_for ('static', filename='js/liverpool.js')}}"></script>
{% endblock %}