{% extends 'base.html' %}
{% block content %}
    <section class="hero team-page-hero liverpool-hero d-flex align-items-center justify-content-center">
        <div class="row no-gutters">
            <div class="col">
                <div class="hero-title-container">
                    <h1>Liverpool</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="main-selectors">
        <div class="row no-gutters">
            <div class="col-sm-12 col-md-4">
                 <div class="shadow-box">
                     <div class="selector text-center position-selector">
                        <div class="chart-title"><h4>Position Selector</h4></div>
                        <div id="positionSelectorLiverpool" class="custom-chart"></div>
                     </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="shadow-box">
                    <div class="selector text-center year-selector">
                        <div class="chart-title"><h4>Year Selector</h4></div>
                        <div id="yearSelectorLiverpool" class="custom-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="form-guide">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="shadow-box">
                    <div class="chart-container-form-guide text-center chart-container form-chart">
                        <div class="chart-title"><h4>Form Guide</h4></div>
                        <div id="formGuideLiverpool" class="custom-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="goals-analysis">
        <div class="row no-gutters">
            <div class="col-sm-12 col-md-6">
                <div class="shadow-box">
                    <div class="chart-container-goals-analysis text-center chart-container goals-chart">
                        <div class="chart-title"><h4>Goals scored</h4></div>
                        <div id="goalsChartLiverpool" class="custom-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="shadow-box">
                    <div class="chart-container-goals-analysis text-center chart-container goals-conc-chart">
                        <div class="chart-title"><h4>Goals conceded</h4></div>
                        <div id="goalsConcChartLiverpool" class="custom-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <div class="shadow-box">
                    <div class="chart-container-goals-analysis text-center chart-container goals-diff-chart">
                        <div class="chart-title"><h4>Goal Difference</h4></div>
                        <div id="goalDifferenceChartLiverpool" class="custom-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block page_specific_js %}
    <script src="{{ url_for ('static', filename='js/liverpool.js')}}"></script>
{% endblock %}
