{% extends 'base.html' %}
{% block content %}
    <section class="hero team-page-hero manchester-city-hero d-flex align-items-center justify-content-center">
        <div class="row no-gutters">
            <div class="col">
                <div class="hero-title-container">
                    <h1>Manchester City</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="main-selectors">
        <div class="row no-gutters">
            <div class="col-sm-12 col-md-4">
                 <div class="shadow-box">
                     <div class="selector position-selector text-center">
                        <div class="chart-title"><h4>Position Selector</h4></div>
                        <div id="positionSelectorManCity" class="custom-chart"></div>
                     </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="shadow-box">
                    <div class="selector year-selector text-center">
                        <div class="chart-title"><h4>Year Selector</h4></div>
                        <div id="yearSelectorManCity" class="custom-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="form-guide">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="shadow-box">
                    <div class="chart-container-form-guide chart-container text-center form-chart">
                        <div class="chart-title"><h4>Form Guide</h4></div>
                        <div id="formGuideManCity" class="custom-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="goals-analysis">
        <div class="row no-gutters">
            <div class="col-sm-12 col-md-6">
                <div class="shadow-box">
                    <div class=" chart-container-goals-analysis text-center chart-container goals-chart">
                        <div class="chart-title"><h4>Goals scored</h4></div>
                        <div id="goalsChartManCity" class="custom-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="shadow-box">
                    <div class="goals-conc-chart chart-container chart-container-goals-analysis text-center">
                        <div class="chart-title"><h4>Goals conceded</h4></div>
                        <div id="goalsConcChartManCity" class="custom-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <div class="shadow-box">
                    <div class="goals-diff-chart chart-container-goals-analysis chart-container text-center">
                        <div class="chart-title"><h4>Goal Difference</h4></div>
                        <div id="goalDifferenceChartManCity" class="custom-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block page_specific_js %}
    <script src="{{ url_for ('static', filename='js/manchestercity.js')}}"></script>
{% endblock %}